html
  head
    title Prueba
    link(rel="stylesheet", href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css")
    link(rel="stylesheet", href="/css/style.css")
  body
    form(id="form" action="/", method="post")
      input(type="text" id="coordInit" required)
      input(type="text" id="coordEnd" required)
      input(type="submit")
    div(id="map")
    script(src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js")
    script(src="/js/script.js")