html(lang="eng")
  head
    title Prueba
    link(rel="stylesheet", href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css")
    link(rel="stylesheet", href="/css/style.css")
  body
    div(class="container")
      div(class="none")
        input(type="text" id="origin-input" placeholder="Enter an origin address" autocomplete="off")
        input(type="text" id="destination-input" placeholder="Enter a destination address" autocomplete="off")
      div(id="map")
    script(defer src=`https://maps.googleapis.com/maps/api/js?key=${API_KEY}&callback=initMap&libraries=places`)
    script(src="/js/script.js")